namespace: digitify-namespace

replicaCount: 2

image:
  repository: your-repo/digitify-app
  tag: 2b9711f3d7eff3fba06cc35601531a6fe27210d8
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "nginx"
  host: digitify-app.example.com
  serviceName: digitify-service
  servicePort: 80
  path: /
  pathType: Prefix


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
