namespace: digitify-namespace

replicaCount: 2

image:
  repository: 099199746132.dkr.ecr.eu-north-1.amazonaws.com/digitify-application
  tag: 449a343b954c1130f5725dabafdbb1894f8d3f4b
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "nginx"
  host: digitify-app.example.com
  serviceName: digitify-service
  servicePort: 80
  path: /
  pathType: Prefix


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
