namespace: digitify-namespace

replicaCount: 2

image:
  repository: 099199746132.dkr.ecr.eu-north-1.amazonaws.com/digitify-application
  tag: d88d7c0278cdd630e8af84c1077f42295f71f609
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "alb"
    alb.ingress.kubernetes.io/scheme: "internet-facing"
    alb.ingress.kubernetes.io/target-type: "instance"
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/certificate-arn: "<your-certificate-arn>"
  host: digitify-app.example.com
  serviceName: digitify-service
  servicePort: 80
  path: /
  pathType: Prefix


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
